@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --bg-color: rgb(32, 32, 32);
    --color-text: aliceblue;
    --start-green:#32CD32;
    --pause-yellow: #FFD700;
    --reset-red: #B22222;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--bg-color);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

